<% set_meta_tags title: t('.title'),
                 description: "سوالات رایجی که درباره سایت خبری نردنیوز می‌تواند برای شما پیش بیاید.",
                 canonical: static_pages_faq_url %>

<% content_for :page_header do %>
  <h1>سوالات رایج</h1>
<% end %>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        نردنیوز چیست؟
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
         یک شبکهٔ اجتماعی خبر برای افراد نرد و گیک که علاقه به اخبار فناوری دارند. در این شبکه همه افراد می‌توانند خبر بنویسند و محدودیتی وجود ندارد. هر خبر دارای امتیازی است که خبرهای امتیاز پایین جایگاه خوبی در این شبکه ندارند.
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        چه کسی آن را نوشته است؟
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
         <a href="https://github.com/iCEAGE" target="_blank">حامد رمضانیان نیک</a> و <a href="https://github.com/arashm" target="_blank">آرش موسوی</a> در شرکت <a href="http://jnaqsh.com/" target="_blank">نقش</a>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        درباره چه چیزی خبر بنویسم؟
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
         هر خبری که در دستهٔ خبرهای فناوری قرار بگیرد.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        اجازه‌نامهٔ محتوای نردنیوز چیست؟
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
         تمام خبرها در این شبکه، دارای اجازه‌نامهٔ <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/deed.en_US">Creative Commons Attribution-ShareAlike 3.0 Unported</a> می‌باشد و هر کاربر در این شبکه باید این را قبول کند، در غیراین‌صورت می‌تواند در این شبکه عضو نشود.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        کاربرها در نردنیوز چند دسته می‌شوند؟
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
         در این شبکه چهار دسته کاربر وجود دارد:<br />
         <li>کاربر ناشناس: کاربری که هنوز ثبت‌نام نکرده‌است. این کاربر می‌تواند خبر بنویسد اما باید کپچای متنی را جواب دهد و منتظر انتشار خبر خود شود.</li>
         <li>کاربر جدید: این کاربر اخیرا ثبت‌نام کرده‌است و هنوز فعالیت کمی در این شبکه داشته‌است. دسترسی‌های این کاربر به‌مانند کاربر ناشناس است، اما می‌تواند برای بقیه افراد در این شبکه پیام بگذارد.</li>
         <li>کاربر تاییدشده: این کاربر به‌مانند یک مدیر سیستم می‌باشد که می‌تواند خبر بنویسد، خبرهای منتشرنشده را منتشر کند.</li>
         <li>کاربر موسس: موسسان این شبکه، که تمام دسترسی‌های کاربر تاییدشده را دارند همچنین می‌توانند امتیازدهی خبر و یا دیدگاه را تغییر دهند و یا خبر حذف شده‌ای را بازگردانی کنند.</li>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
        کارما چیست؟
      </a>
    </div>
    <div id="collapseSix" class="accordion-body collapse">
      <div class="accordion-inner">
         کارما نشان‌دهندهٔ فعالیت بیشتر در این شبکه است. کاربرانی که دارای کارمای بالایی هستند، فعالیت بیشتری در این شبکه داشته‌اند. کاربرانی که کارمای بیشتری به‌دست آورند سیستم آن‌ها را تبدیل به کاربر تاییدشده می‌کند.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
        نردنیوز با چه زبان برنامه‌نویسی‌ای نوشته شده‌است؟
      </a>
    </div>
    <div id="collapseSeven" class="accordion-body collapse">
      <div class="accordion-inner">
         نردنیوز با استفاده از <a target="_blank" href="http://rubyonrails.org/">چارچوب وب روبی آن ریلز</a> نوشته شده‌است که خود روبی آن ریلز با استفاده از <a target="_blank" href="http://www.ruby-lang.org/">زبان برنامه‌نویسی روبی</a> نوشته شده‌است.<br />
         از زبان‌های نشانه‌گذاری HTML، CSS، SASS استفاده شده‌است.
         همچنین زبان‌های CoffeScript و جاوااسکریپت نقش عمده‌ای در نردنیوز داشته‌اند.
         در نردنیوز سه پروژه دیگر نیز استفاده شده‌است:<br />
         <li>برای ساخت صفحه در دست ساخت از <a href="http://rubygems.org/gems/under_construction" target="_blank">under_construction</a> استفاده شده‌است</li>
         <li>برای ساخت محیط گرافیکی از <a href="http://rbootstrap.ir/" target="_blank">بوت‌استرپ فارسی</a> استفاده شده‌است</li>
         <li>سوالات کپچای نردنیوز از سرویس وب <a href="http://textcaptcha.ir/" target="_blank">کپچای متنی فارسی</a> گرفته می‌شود</li>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
        آیا این پروژه متن‌باز (آزاد) است؟
      </a>
    </div>
    <div id="collapseEight" class="accordion-body collapse">
      <div class="accordion-inner">
         بله. این پروژه دارای <a target="_blank" href="http://www.gnu.org/licenses/gpl.html">اجازه‌نامهٔ جی‌پی‌ال نسخهٔ ۳</a> است. متن این نرم‌افزار وب در <a target="_blank" href="https://github.com/jnaqsh/nerdnews">سایت گیت‌هاب</a> وجود دارد.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseNine">
        مشکلات نردنیوز را چگونه گزارش بدم؟
      </a>
    </div>
    <div id="collapseNine" class="accordion-body collapse">
      <div class="accordion-inner">
         با توجه به متن‌باز بودن نردنیوز، شما می‌توانید با مراجعه به صفحه <a target="_blank" href="https://github.com/jnaqsh/nerdnews/issues">نردنیوز در گیت‌هاب</a>، آن‌ها را برای ما ارسال کنید.
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTen">
        من می‌خواهم به نردنیوز کمک کنم. چگونه آن را انجام بدهم؟
      </a>
    </div>
    <div id="collapseTen" class="accordion-body collapse">
      <div class="accordion-inner">
         چندین راه برای کمک کردن به نردنیوز وجود دارد:
         <li>ارسال مشکلات: به سوال قبلی مراجعه کنید</li>
         <li>کمک در توسعه نردنیوز: رفتن به <a href="https://github.com/jnaqsh/nerdnews" target="_blank">صفحه گیت‌هاب</a>، Fork، Change, Test, Pull request</li>
         <li>کمک مالی: ارسال مبلغ مورد نظر به شماره کارت: ۶۲۱۹۸۶۱۲۰۹۸۸۷۴۴۶ به نام حامد رمضانیان نیک</li>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseEleven">
        چه کسی آن را هاست می‌کند؟
      </a>
    </div>
    <div id="collapseEleven" class="accordion-body collapse">
      <div class="accordion-inner">
         در حال حاضر این شبکه اجتماعی در <a target="_blank" href="http://jnaqsh.com/">سرور شرکت نقش</a> هاست می‌شود.
      </div>
    </div>
  </div>
</div>
