<%= simple_form_for [@user, @message], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :subject, input_html: {class: "span6"} %>
  <%= f.input :message,
              input_html: {rows: 15, class: "span6", 'data-trigger' => "focus"} %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary', data: { disable_with: t('view.disable_with') } %>
  </div>
<% end %>
