<% set_meta_tags  title: t('.title'),
                  noindex: true %>
<% content_for :page_header do %>
  <h1><%=t '.title' %></h1>
<% end %>

<%= form_tag password_resets_path, method: :post do %>
  <div class="control-group email optional">
      <label class="email control-label">ایمیل</label>
      <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-envelope"></i></span>
            <%= email_field_tag :email, params[:email], class: "string email" %>
          </div>
      </div>
    </div>
  <div class="actions"><%= submit_tag t('.title'), class: "btn btn-primary" %>
<% end %>
