*.rbc
*.sassc
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/public/assets
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/.git
/solr/data
/solr/pids
.tags
.tags_sorted_by_file
/db/schema.rb
/config/application_configs.yml
/db/test.sqlite3-journal
/config/database.yml
/config/sunspot.yml
/config/textcaptcha.yml
/config/twitter.yml
db/under_construction_mails.txt
config/dropbox.yml
config/dropbox_backup.yml
custom_plan.rb
zeus.json
