<h3>سلام <%= @user.full_name %>!</h3>
<p class="lead">شخصی برای شما پیام خصوصی گذاشته است:</p>
<table class="callout">
  <tr>
    <th>
      <b>از:<%= @message.sender.full_name %></b>
      <br>
      <%= sanitize RedCloth.new(@message.message, [:filter_html, :filter_styles]).to_html %>
    </th>
  </tr>
</table>
<p>برای مشاهده آن در نرد‌نیوز و جواب دادن به آن بر روی لینک <a href="<%= user_messages_url(@user) %>">کلیک</a> کنید. چنانچه این ایمیل مربوط به شما نیست، آن را نادیده بگیرید.
</p>
<br>