<h3>سلام <%= @user.full_name %>!</h3>
<p class="lead">نقش شما ارتقا پیدا کرده است :)</p>
<p>با توجه به این‌که کارمای شما بیشتر از <%= User::KARMA_THRESHOLD %> گردیده‌است، نقش شما به کاربر تاییده‌شده تبدیل می‌شود.</p>

<table class="callout">
  <tr>
    <th>
      <p>
      	برخی از دسترسی‌های کاربر تاییده‌شده به شرح زیر می‌باشد:
* انتشار و تایید خبرهای منتشر نشده
* مدیریت دیدگاه‌ها
* به‌روزرسانی تگ‌ها و انتخاب عکس مناسب برای آن‌ها
      </p>
    </th>
  </tr>
</table>

<p>چنانچه این ایمیل مربوط به شما نیست، آن را نادیده بگیرید.</p>
<br>
