<div class="comment">
  <h3><%= comment.name %></h3>
  <p><%= comment.content %></p>
  <div>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                [comment.story, comment],
                :method => :delete,
                :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                :class => 'btn btn-mini btn-danger' %>
  </div>
</div>
