<table class="table table-striped">
  <tbody>
    <% activity_logs.each do |log| %>
      <tr>
        <td>
          <%= log.note.html_safe %>
        </td>
        <td title="تاریخ انجام فعالیت">
          <%= to_jalali(log.created_at) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate activity_logs %>
