<% set_meta_tags  title: [t('users.title'),t('.title', name: @user.full_name)],
                  description: "تاریخچه فعالیت #{@user.full_name}" ,
                  keywords: "#{@user.full_name}, profile, پروفایل" %>
<div class='user-activities'>
  <%= render 'activity_logs' %>
  <%= paginate @activity_logs %>
</div>
