<% set_meta_tags  title: [t('users.title'),t('.title', name: @user.full_name)],
                  description: "پست‌های ارسال شده توسط #{@user.full_name}" ,
                  keywords: "#{@user.full_name}, profile, پروفایل" %>
<div id='user-activities'>
  <%= render partial: 'favorites', object: @favorites %>
</div>
