<% set_meta_tags  title: [t('users.title'),t('.title', name: @user.full_name)],
                  description: 'پروفایل',
                  keywords: "#{@user.full_name}, profile, پروفایل",
                  canonical: user_url(@user) %>
<div id='user-activities'>
   <%= render partial: 'user_stories', object: @stories %>
</div>
