<% set_meta_tags  title: t('.title', name: @user.full_name),
                  description: 'پروفایل',
                  keywords: "#{@user.full_name}, profile, پروفایل" %>
<div id='user-activities'>
  <%= render partial: 'user_stories', object: @stories %>
</div>