<%- model_class = @user.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='row'>
  <div class='span1 avatar'>
    <%= image_tag avatar_url(@user, 64) %>
  </div>

  <div class='span3'>
    <p><strong><%= @user.full_name %></strong></p>
    <p>عضو شده از <%= time_ago_in_words(@user.created_at) + ' قبل'%></p>
    <p>تگ‌های مورد علاقه </p>
  </div>

  <div class='span2'>
    <div class='well well-small'>
      <p>سطح: </p>
      <p>۲۵۴ امتیاز</p>
      <p>۲۰۰ امتیاز در این هفته</p>
    </div>
  </div>
</div>
<div class='row'>
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#">ارسال‌ها</a>
      </li>
      <li><a href="#">نظرات</a></li>
      <li><a href="#">موردعلاقه‌ها</a></li>
    </ul>
</div>