<div class='preview'>
  <div class='alert'>
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>هشدار</strong> این یک پیش‌نمایش است. خبر شما هنوز ثبت نشده است.
  </div>

  <%= render preview_story %>
</div>
