<div id="mailModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t("stories.share_by_mail_modal.share_by_mail") %></h3>
  </div>
  <div class="render-modal">
    <p>
      <%= t('stories.share_by_mail_modal.loading') %>
    </p>
  </div>
</div>