<ul class='social-icons'>
  <li>
    <%= link_to "http://www.facebook.com/sharer.php?u=#{share_url}", class: "popup" do %>
      <i class="icon-facebook-sign"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "http://twitter.com/home?status=#{title} #{share_url}", class: "popup" do %>
      <i class="icon-twitter-sign"></i>
    <% end %>
  </li>
  <li>
    <%= link_to "https://plus.google.com/share?url=#{share_url}&hl=fa&subject=#{title}", class: "popup" do %>
      <i class="icon-google-plus-sign"></i>
    <% end %>
  </li>
  <li>
    <%= link_to share_by_mail_show_path(id: story_id), remote: true, data: { toggle: 'modal', target: '#mailModal' } do %>
      <i class="icon-envelope-alt"></i>
    <% end %>
  </li>
</ul>
