<% if story.id %>
  <div class='pull-left btn-group'>
    <% if can? :update, story %>
      <%= link_to t('.edit', :default => t("helpers.links.edit")), edit_story_path(story), :class => 'btn btn-mini' %>
    <% end %>
    <% if can? :destroy, story %>
        <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                    story_path(story),
                    :method => :delete,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                    :class => 'btn btn-mini btn-danger'
                     %>
    <% end %>

    <% if (can? :publish, story) && !story.publish_date %>
      <%= form_tag publish_story_path(story), :method => :put, class: "inline" do %>
        <%= submit_tag t('.publish', default: t('helpers.links.publish')),
          class: "btn btn-mini btn-primary" %>
      <% end %>
    <% end %>
  </div>
<% end %>
