<% set_meta_tags title: [t('stories.title'), t('.title')],
                 description: 'صفحه اصلی',
                 keywords: 'اخبار, صفحه اصلی' %>
<%- model_class = Story.new.class -%>
<% content_for :head, auto_discovery_link_tag(:atom, stories_url(:format => "atom")) %>
<% content_for :page_header do %>
    <h1>
      <%=t '.title', :default => model_class.model_name.human.pluralize %>
      <% if can? :create, Story %>
        <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_story_path,
                  :class => 'btn btn-large btn-success pull-left' %>
      <% end %>
    </h1>
<% end %>

<div id="stories">
  <%= render @stories %>
</div>

<%= paginate @stories %>
