<% set_meta_tags title: [t('stories.title'), t('.title')],
                 description: 'ارسال خبر جدید',
                 keywords: 'ارسال خبر',
                 canonical: new_story_url %>

<%- model_class = @story.class -%>
<% content_for :page_header do %>
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
<% end %>

<% if params[:preview_button] %>
  <div class='preview'>
    <div class='alert'>
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>هشدار</strong> این یک پیش‌نمایش است. خبر شما هنوز ثبت نشده است.
    </div>

    <%= render @story %>

  </div>
<% end %>

<div class="row">
   <!-- main content -->
   <div class="span9">
      <%= render :partial => 'form' %>
   </div>

   <!-- sidebar -->
   <div class="span3">
      <h3>راهنما</h3>
      <p>
         ساخت پیوند: "پیوند":http://link <br /.>
         درشت کردن: *<b>متن درشت</b>* <br />
         مورب کردن: _<i>متن مورب</i>_
      </p>
   </div>
</div>
