<%- model_class = @story.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
</div>
<% if params[:story] %>
  <div class='preview'>
    <div class='alert'>
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>هشدار!</strong> این یک پیش‌نمایش است. خبر شما هنوز ثبت نشده است.
    </div>
    <blockquote>
    <%= sanitize(RedCloth.new(params[:story][:content], [:filter_html, :filter_styles]).to_html) %>
    </blockquote>
  </div>
<% end %>
<%= render :partial => 'form' %>
