<% set_meta_tags title: [t('stories.title'), t('.title')],
                 description: 'ارسال خبر جدید',
                 keywords: 'ارسال خبر',
                 canonical: new_story_url %>

<%- model_class = @story.class -%>
<% content_for :page_header do %>
  <h1><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                 :default => "New #{model_class.model_name.human}") %></h1>
<% end %>

<% if params[:preview_button] %>
  <%= render partial: "preview_story", object: @story %>
<% end %>

<div class="row">
   <!-- main content -->
   <div class="span9">
      <%= render :partial => 'form' %>
   </div>
   <div class="span3">
      <%= render 'sidebar' %>
   </div>
</div>
