<%- model_class = Story.new.class -%>
<% content_for :page_header do %>
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize %>
  </h1>
<% end %>

<%= render partial: "story", collection: @stories %>

<%= paginate @stories %>
