// Place all the styles related to the activity_logs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ltr {
  direction: ltr;
  text-align: left;
}
