// Place all the styles related to the annoucements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.announcement{
  width: 100%;
  background-color: #F1F094;
  border-bottom: solid 1px black;
  padding: 10px 0;
  text-align: center;
  a {
    margin-left: 5px;
    color: #6E5910;
  }
}
