// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
    .actions {
      margin-top: 3px;
    }

  .main {
    margin-right: 52px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #BBB;
    line-height: 1.8em;
    .owner {
      font-size: 16px;
      font-weight: bold;
    }
    .date {
      color: gray;
      font-size: 10px;
      font-weight: bold;
    }
  }
}

.nested_comments {
  margin-right: 32px;
  .nested_comments
    .nested_comments
      .nested_comments
        .nested_comments {
          margin-right: 0;
  }
}

#comments-container .comment-form {
  margin: 0;
}

#commenter-info {
  margin-top: 1px;
  line-height: 2;
  img {
    margin-left: 10px;
  }
}

tr.spam td {
  background-color: pink !important
}
