// Place all the styles related to the identities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* signin */
#services_signin {
  div { 
    overflow:auto;
    margin-bottom: 40px;
  }
}

/* signup: create new account */
#services_new {
  input { 
    margin-right: 20px; 
  }
}

.identity_userdata { 
  font-size: 13px;
}

/* the list with the available services that consist of icons and text */
#services_list { 
  margin: 20px 0; 
  padding: 0; 
  list-style: none; 
  li { 
    display: inline; 
    float: right; 
    margin-right: 25px; 
    margin-bottom: 20px; 
    width: 100px; 
    text-align: center; 
  }
  img { 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
  }
}