/* token input facebook */
li.token-input-token-facebook {
  float: right;
}

li.token-input-input-token-facebook
{
  float: right;
}

div.token-input-dropdown-facebook p {
  direction: rtl;
}

li.token-input-token-facebook p {
  direction: rtl;
}

div.token-input-dropdown-facebook ul li {
  direction: rtl;
}

/* token input facebook end */

/* blockquote */
blockquote {
  border-right: 5px solid #EEEEEE;
  border-left: none;
  padding: 0 15px 0 0;
}
/* end blockquote */
