// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline{
  display: inline;
}

.story-hint {
  width: 556px;
  margin-bottom: 0;
  -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
  border-bottom: none;
  padding: 4px 6px 4px 6px;
}

textarea {
-webkit-border-radius: 0 0 4px 4px;
 -moz-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;
}

.tags-holder {
  margin: 5px auto;
  a {
    text-decoration: none;
  }
}

span.comment-counter {
  font-weight: bold;
}

.thumbs-up-list, .thumbs-down-list {
  display: none;
  padding-top: 7px;
}

.thumbs-up-list, .thumbs-down-list {
  li {
  display: inline;
  list-style: none;
  }
}

/* rtl language start from right */
li.token-input-input-token-facebook, li.token-input-token-facebook {
  float: right;
}

ul.token-input-list-facebook {
  clear:right;
}

.submit-notice {
  color: green;
  margin-right: 25px;
}