// Place all the styles related to the stories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.inline{
  display: inline;
}

.story-hint {
  width: 556px;
  margin-bottom: 0;
  -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
        border-radius: 4px 4px 0 0;
  border-bottom: none;
  padding: 4px 6px 4px 6px;
}

.tags-holder {
  margin: 5px auto;
  a {
    text-decoration: none;
  }
}

span.comment-counter {
  font-weight: bold;
}

.thumbs-up-list, .thumbs-down-list {
  display: none;
  padding-top: 7px;

  li {
    display: inline;
    list-style: none;

    a {
      font-family: "Iranian Sans";
    }
  }
}

/* rtl language start from right */
li.token-input-input-token-facebook, li.token-input-token-facebook {
  float: right;
}

ul.token-input-list-facebook {
  clear:right;
}

.submit-notice {
  color: green;
  margin-right: 25px;
}

.social-icons {
  list-style: none;
  display: inline;
  margin: 10px 0;
  li {
    display: inline;
    font-size: 24px;
    // -webkit-transition-property: font-size;
    // -moz-transition-property: font-size;
    // -o-transition-property: font-size;
    // transition-property: font-size;
    // &:hover{
    //   font-size: 30px;
    // }
    i {
      width: inherit !important;
    }
  }
}

.grey-out {
  opacity: .5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  &:hover {
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
}

// style pagination gap tag (...)
.pagination{
  .page, .gap{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #FFFFFF;
    border-color: #DDDDDD;
    border-image: none;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    float: right;
    line-height: 20px;
    padding: 4px 12px;
    text-decoration: none;
  }
}
