<% voteable = @voteable.class.model_name.plural %>
$('#voting-buttons-<%= @voteable.id %>').html('<%= j render "#{voteable}/voting_buttons", story: @voteable, comment: @voteable %>')
$("#thumbs-down-list-<%= @voteable.id %>, #thumbs-up-list-<%= @voteable.id %>").html("<span class='submit-notice'>امتیاز شما با موفقیت ثبت شد!</span>")