<!DOCTYPE html>
<html>
  
  <%= render 'shared/head' %>

  <body>
    
    <div class="navbar navbar-fixed-top navbar-inverse">
    <%= render partial: 'shared/header' %>
    </div>

    <div class="container">
    
      <%= render partial: 'shared/flash', locals: { flash: flash } %>
    
      <div class="row">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    
    </div>
  </body>
</html>
