<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>NerdNews Mail Notification</title>
</head>
<body bgcolor="#FFFFFF">
  <!-- HEADER -->
  <table class="head-wrap">
    <tr>
      <td></td>
      <td class="header container" >
        <div class="content">
          <table>
            <tr>
              <td>
                <%= image_tag "NerdLogo-58px.png", alt: "لوگوی نردنیوز" %>
              </td>
              <td align="right">
                <h5 class="collapse">نرد‌نیوز</h5>
              </td>
            </tr>
          </table>
        </div>
      </td>
      <td></td>
    </tr>
  </table>
  <!-- /HEADER -->
  <!-- BODY -->
  <table class="body-wrap">
    <tr>
      <td></td>
      <td class="container">
        <div class="content">
          <table>
            <tr>
              <td>
                <%= yield %>
                <!-- social & contact -->
                <table class="social" width="100%">
                  <tr>
                    <td>
                      <h5 style="text-align: center">با ما باشید</h5>
                      <table class="column">
                        <tr>
                          <td>
                            <p>
                              <a href="https://facebook.com/farsi.nerdnews" class="soc-btn fb">Facebook</a>
                              <a href="https://twitter.com/farsi_nerdnews" class="soc-btn tw">Twitter</a>
                            </p>
                          </td>
                          <td>
                            <p>
                              <a href="https://plus.google.com/b/111646924484501471492/111646924484501471492" class="soc-btn gp">+Google</a>
                              <a href="https://github.com/jnaqsh/nerdnews" class="soc-btn ms">GitHub</a>
                            </p>
                          </td>
                        </tr>
                      </table>
                      <!-- /column 1 -->
                      <span class="clear"></span>
                    </td>
                  </tr>
                </table>
                <!-- /social & contact --> </td>
            </tr>
          </table>
        </div>
        <!-- /content --> </td>
      <td></td>
    </tr>
  </table>
  <!-- /BODY -->
</body>
</html>
